<h1>Edit Product</h1>
<% if @errors.errors.any? %>
	<div>
		<h3><%= pluralize(@errors.errors.count, "Error") %></h3>
		<ul>
			<% @errors.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<%= simple_form_for @product do |f| %>
	<%= f.input :category, collection: @categories, selected: @product.category.id %>
	<%= f.input :name, as: :string, input_html: { value: @product.name } %>
	<%= f.input :description, as: :text, input_html: { value: @product.description } %>
	<%= f.input :price, as: :float, input_html: { value: @product.price } %>
	<%= f.button :submit %>
<% end %>
<p>
	<a href="/products/<%= @product.id %>">Show</a>
	 | 
	<a href="/products">Home</a>
</p>
