<h1>Listing Products</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>$ <%= product.price %></td>
        <td><%= product.category.try(:name) %></td>
        <td><a href="/products/<%= product['id'] %>">Show</a> | <a href="/products/<%= product['id'] %>/edit">Edit</a> | <a href="/products/<%= product['id'] %>" data-method='delete'>Destroy</a></td>
      </tr>
      <% end %>

    </tbody>
  </table>

<a href="/products/new">New Product</a>
