<h1><%= @user.name %></h1>
<a href="/users/<%= session[:user_id] %>/edit">Edit Profile</a>
<div id='secrets'>
  <table>
    <thead>
      <tr>
        <th>Secret #</th>
        <th>Your Secret</th>
        <th>Likes</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% if @secrets %>
        <% for i in (0..(@secrets.size-1)) do %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= @secrets[i].content %></td>
            <td><%= @secrets[i].likes.count %> likes</td>
            <td>
              <form action='/secrets/<%= @secrets[i].id %>' method='POST'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' >
                <input type='hidden' name='_method' value='DELETE' >
                <input type='submit' value='Delete'>
              </form>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div><!-- secrets -->
<div id='newSecret'>
  <h3>Add a new secret</h3>
  <form action="/secrets" method="POST">
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' >
    <label for='New Secret'></label>
    <textarea id='New Secret' name='secrets[content]'></textarea>
    <input type='submit' value='Create Secret'>
  </form>
</div><!-- new Secret -->
