<p>This form has been submitted <%= @total %> times.</p>
<h1>Most Recent Survey</h1>
<p>Name: <%= @survey.name %></p>
<p>Location: <%= @survey.location %></p>
<p>Favorite Language: <%= @survey.language %></p>
<p>Comment: <%= @survey.comment %></p>
<p><a href="/">Back to the Form!</a></p>
