<h1>Secrets</h1>

<% @secrets.each do |secret| %>
<p>
	<%= secret['content'] %> 
	(<%= secret.likes.count %> likes)
	<% if secret.users_liked.include? current_user %> 
		<%= form_for secret.user_like(current_user), method: :delete do |f| %>
			<%= f.submit :value => "Unlike" %>
		<% end %>
	<% else %>
		<%= form_for @like do |f| %>
			<%= f.hidden_field :secret_id, :value => secret['id'] %>
			<%= f.submit :value => "Like" %>
		<% end %>
	<% end %>
	<% if secret.user == current_user %>
		<%= form_for secret, method: :delete do |f| %>
			<%= f.submit :value => "Delete" %>
		<% end %>
	<% end %>
</p>
<% end %>
