<h1>Edit Profile</h1>

<% if flash[:errors] %>
	<ul>
		<% flash[:errors].each do |err| %>
			<li><%= err %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @user do |f| %>

	<%= f.label :email %>
	<%= f.email_field :email %>

	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.submit :value => "Update" %>

<% end %>

<%= form_for @user, method: :delete do |f| %>
	<%= f.submit :value => "Delete Account" %>
<% end %>
